.is-sticky {
  /* Add styles for sticky navbar here */
  transition: top 0.3s ease-in-out;
  top: 0;
  animation-delay: 1000ms;
}

.relative {
  overflow: hidden;
}

.transform {
  transition: transform 0.3s ease;
}

.bgcolor{
    background-color: rgb(53, 53, 53);
}

@keyframes blink {
  0% {
      background-color: lightgreen;
  }
  50% {
    background-color: yellow;
  }
  100% {
    background-color: lightgreen;
  }
}

@keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
  }
@keyframes marquee2 {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0%); }
  }
  .animate-marquee {
    animation: marquee 20s linear infinite;
  }

  .animate-marquee2 {
    animation: marquee2 20s linear infinite;
  }
  
  /* Pause the animation on hover */
.relative:hover .animate-marquee, .relative:hover .animate-marquee2 {
    animation-play-state: paused;
  }
  

.box-with-border {
    border: 2px solid #0e0b0b; /* Border style and color */
     /* Padding inside the box */
    border-radius: 8px; /* Optional: rounded corners */
  }

.product .product-item {
    height: 100%;
    transition: 0.5s;
    
}
.product .product-item:hover {
    box-shadow: 0 0 55px rgba(0, 0, 0, 0.4);
}

.product .product-item .product-img {
    overflow: hidden;
    transition: 0.5s;
    border-radius: 10px 10px 0 0;
}

.product .product-item .product-img img {
    transition: 0.5s;
}

.product .product-item .product-img img:hover {
    transform: scale(1.3);
}

.banner .banner-btn:hover {
    background: var(--bs-primary);
}
